﻿

.div-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background-color: #eee;
}

    .div-signin .div-signin-heading,
    .div-signin .checkbox {
        margin-bottom: 10px;
    }

    .div-signin .checkbox {
        font-weight: normal;
    }

    .div-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .div-signin .form-control:focus {
            z-index: 2;
        }

    .div-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .div-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    } 
