﻿}/* demo page styles */

body {
    background:#eeedac;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
	color:#000000;
}
div {
    background:#F6D8CE;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    padding-top:20px;
    padding-left:20px;
	color:#000000;
}
 #logoBuloneriaMenu {
  width:300px;
  height:150px; 
}
div.content{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000000;
	margin:0 auto 0 auto;
	width:800px;
	
}
div.negro{
	background-color:#000033;
	border-radius:0.5em;
	padding-left:5px;
	padding-top:5px;
	padding-right:5px;
	padding-bottom:10px;
}
div.negro:hover{
-webkit-transform: scale(1.02); 
-moz-transform: scale(1.02); 
-o-transform: scale(1.02); 
-ms-transform: scale(1.02); 
transform: scale(1.02); 
}
div.lista a{
font-size:12px; 
border-radius:0.5em;
}
div.lista a:link {text-decoration:none; color: #FFF;} /* Link no visitado*/
div.lista a:visited {text-decoration:none; color:#CC0000} /*Link visitado*/
div.lista a:active {text-decoration:none; color:#FF0099; background:#FFFFFF} /*Link activo*/
div.lista a:hover {text-decoration:underline; color:#FF0099; background: #EEEEEE} 
 
.menu { 
border-radius:0.5em;
width:300px;
background-color: #eee; 
-webkit-transition: 1s ease-in-out; 
-moz-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out; 
transition: 1s ease-in-out; 
} 
.menu:hover { 
border-radius:0.5em;
background-color: #FFFF99;
-webkit-transform: scale(1.5); 
-moz-transform: scale(1.5); 
-o-transform: scale(1.5); 
-ms-transform: scale(1.5); 
transform: scale(1.5); 
}
.example {
    background:#fff url(../images/clouds-in-blue-sky.jpg);
	width:830px; 
    border:1px #000 solid;
    margin:19px auto;
    padding:14px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;

}


/* main menu styles */
#nav {
    display:inline-block;
    width:100%;
    margin:0px auto;
    padding:0;
    background:#335599 url(../images/bg.png) repeat-x 0 -110px;
    font-family:Verdana, Arial, Helvetica, sans-serif;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);
}
#nav li {
    margin:10px;
    float:left;
    position:relative;
    list-style:none;
}
#nav a {
    font-size:12px;
    font-weight:bold;
    color:#e7e5e5;
    text-decoration:none;
    display:block;
    padding:8px 20px;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, .7);
}

/* selected menu element */
#nav .current a, #nav li:hover > a {
    background:#7788aa url(../images/bg.png) repeat-x 0 -20px;
    color:#000;
    border-top:1px solid #f8f8f8;

    box-shadow:0 2px 2px rgba(0,0,0, .7); /*some css3*/
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .7);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .7);
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}

/* sublevels */
#nav ul li:hover a, #nav li:hover li a {
    background:none;
    border:none;
    color:#000;
}
#nav ul li a:hover {
    background:#335599 url(../images/bg.png) repeat-x 0 -100px;
    color:#fff;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-shadow:0 2px 2px rgba(0,0,0, 0.7);
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft:10px; /*some css3*/
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
}
#nav ul li:last-child > a {
    -moz-border-radius-bottomleft:10px; /*some css3*/
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
}

/* drop down */
#nav li:hover > ul {
    opacity:1;
    visibility:visible;
}
#nav ul {
    opacity:0;
    visibility:hidden;
    padding:0;
    width:175px;
    position:absolute;
    background:#aabbcc url(../images/bg.png) repeat-x 0 0;
    border:1px solid #7788aa;

    border-radius:10px; /*some css3*/
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow:0 2px 2px rgba(0,0,0, .5);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0, .5);

    -moz-transition:opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition:opacity .25s linear, visibility .1s linear .1s;
    -o-transition:opacity .25s linear, visibility .1s linear .1s;
    transition:opacity .25s linear, visibility .1s linear .1s;
}
#nav ul li {
    float:none;
    margin:0;
}
#nav ul a {
    font-weight:normal;
    text-shadow:0 2px 2px rgba(255,255,255, 0.7);
}
#nav ul ul {
    left:160px;
    top:0px;
}



