﻿<%@ Page Title="Concepto" Language="C#" MasterPageFile="~/Principal.Master" AutoEventWireup="true" CodeBehind="FormConcepto.aspx.cs" Inherits="VistaWeb.FormConcepto" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="Label1" runat="server" Text="Concepto:"></asp:Label>
&nbsp;<asp:TextBox ID="txtConcepto" runat="server" Width="207px"></asp:TextBox>
    <br />
    <asp:Label ID="Label2" runat="server" Text="Descripción:"></asp:Label>
&nbsp;<asp:TextBox ID="txtDescripcion" runat="server" Width="194px"></asp:TextBox>
    <br />
    <asp:Label ID="Label3" runat="server" Text="Tipo de Movimiento:"></asp:Label>
&nbsp;<asp:DropDownList ID="ddlTipoMovimiento" runat="server" Height="17px" Width="152px">
    </asp:DropDownList>
    <br />
    <br />
    <asp:Button ID="btnAceptar" runat="server" OnClick="btnAceptar_Click" Text="ACEPTAR" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btnCancelar" runat="server" Text="CANCELAR" />
</asp:Content>
