﻿<%@ Page Title="Grupo Articulo" Language="C#" MasterPageFile="~/Principal.Master" AutoEventWireup="true" CodeBehind="FormGrupoArticulo.aspx.cs" Inherits="VistaWeb.FormGrupoArticulo" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="Label1" runat="server" style="position: absolute; z-index: 1; left: 64px; top: 25px" Text="Código:"></asp:Label>
<asp:TextBox ID="txtCodigo" runat="server" style="position: relative; top: 11px; left: 114px; width: 225px"></asp:TextBox>
<p>
    <asp:Label ID="Label2" runat="server" style="z-index: 1; left: 35px; top: 58px; position: absolute" Text="Descripción:"></asp:Label>
    <asp:TextBox ID="txtDescripcion" runat="server" style="position: relative; top: 0px; left: 114px; height: 140px; width: 227px"></asp:TextBox>
</p>
<asp:Button ID="btnAceptar" runat="server" style="position: relative; top: -2px; left: 115px" Text="ACEPTAR" OnClick="btnAceptar_Click" />
<asp:Button ID="btnCancelar" runat="server" style="position: relative; top: -2px; left: 150px" Text="CANCELAR" />
</asp:Content>
