﻿<%@ Page Title="Agregar Articulo Orden Compra" Language="C#" MasterPageFile="~/Principal.Master" AutoEventWireup="true" CodeBehind="FormAgregarArticuloOC.aspx.cs" Inherits="VistaWeb.FormAgregarArticuloOC" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Label ID="Label1" runat="server" Text="Descripción:"></asp:Label>
    <asp:TextBox ID="txtDescripcion" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Label ID="Label2" runat="server" Text="Cantidad:"></asp:Label>
    <asp:TextBox ID="txtCantidad" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Label ID="Label3" runat="server" Text="Cantidad a Pedir:"></asp:Label>
    <asp:TextBox ID="txtCantidadPedir" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Label ID="Label4" runat="server" Text="Precio Unitario:"></asp:Label>
    <asp:TextBox ID="txtPrecioUnitario" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="btnAceptar" runat="server" Text="ACEPTAR" />
    <asp:Button ID="btnCancelar" runat="server" Text="CANCELAR" />
    <br />
</asp:Content>
