﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ReporteProveedoresArticulo.aspx.cs" Inherits="VistaWeb.ReporteProveedoresArticulo" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <span>Reporte de Proveedores de Articulo</span>
        <br />
        <span>Ingrese un </span>
    </div>
    </form>
</body>
</html>
